:host{
	display:block;
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--media-player-background-color);
	background-size: cover;
	background-position: center;
	color: var(--media-player-text-color);
	padding: 0;
	overflow: hidden;
	z-index: 10000;
}

.shade{
	backdrop-filter: blur(25px);
    background-color: rgba(0,0,0,0.65);
	width: 100%;
    height: 100%;
}

.minimize{
	position: absolute;
	top: 5px;
	left: 5px;
	width: 50px;
	z-index: 1000;
	background: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
    border-radius: 10px;
	line-height: 2em;
}

.minimize svg{
	height: 2em;
	margin-top: 1em;
	transform: rotate(180deg);
}

.display{
	display: flex;
	height: calc( 100% - var(--player-min-height) );
}

.meta{
	flex: 0 0 calc(50% - 2%);
    padding: 3em 2% 0 0;
	text-align: left;
}

.title{
	display: inline-block;
	font-size: 2em;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 1em;
}

.album{
	display: inline-block;
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 0.5em;
	opacity: 0.85;
}

.artist{
	display: inline-block;
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 0.5em;
	opacity: 0.85;
}

.artwork{
	flex: 1 0 50%;
	height: 100%;
	background: #3c3c3c top left no-repeat;
	background-color: transparent;
	background-size: contain;
	margin: 0;
}

.controls{
	position: absolute;
	top: auto;
	left: 0;
	bottom: 0;
	clear: both;
	margin: 0;
	float: left;
	width: 80%;
	padding: 10px 10%;
    background: rgba(0,0,0,0.25);
	border-top: solid 1px rgba(100,100,100,0.75);
    box-shadow: 0 -3px 10px #000;
}

/* .controls:after{
	content: '';
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9) 100%);
	position: absolute;
    z-index: 0;
} */

.controls .display{
	display: block;
	height: auto;
}

.controls .display .timer{
	float:left;
}

.controls .display .duration{
	float:right;
}

.controls button{
	background: transparent;
    border: solid 2px rgba(255,255,255,0.75);
    border-radius: 2em;
    width: 6em;
    color: #fff;
	line-height: 2.5em;
}

.controls button svg{
	height: 1.25em;
    color: #fff;
    margin-top: 0.75em;
}

button{
	line-height: 3em;
	width: 15%;
}

input.scrubber{
	display: block;
	width: 100%;
}

@media only screen and (max-width: 480px) {
    .display{
        flex-direction: column;
	}
	
	.artwork{
		background-position: top center;
		flex: 1 0 70%;
	}

	.meta{
		flex: 0 0 calc(30% - 1em);
		padding: 1em 5% 0 10%;
	}

	.controls button.reverse,
	.controls button.forward{
		display: none;
	}
}

/* Minimized Interface */

:host([data-minimized="true"]){
	height: var(--player-min-height) !important;
}

:host([data-minimized="true"]) .minimize svg{
	transform: rotate(0deg);
	margin-top: 0.25em;
}

:host([data-minimized="true"]) .meta,
:host([data-minimized="true"]) .artwork {
	display: none;
}

:host([data-minimized="true"]) .controls{
	margin-top: 5px;
}