:host{
    --nav-height: 20px;
}

::slotted(div){
    /* display: flex; */
    height: calc( 100% - var(--player-min-height) - var(--nav-height) )
}

@media only screen and (max-width: 480px) {
    ::slotted(div){
        /* flex-direction: column; */
        height: calc( 100% - var(--player-min-height) - var(--nav-height) )
    }
}

.nav-bar{
    height: var(--nav-height);
}