@import 'normalize';

html{
	--player-min-height: 96px;
	--app-background-color: #7bb951;
	--app-background-color: #fcfcfc;
	--app-button-color: #f5f5fa;
	--app-text-color: #1b1b1b;
	--media-player-text-color: #fff;
	--media-player-background-color: #1e1e1e;
}

html, body{
	font-family: sans-serif;
	background: var(--app-background-color);
	color: var(--app-text-color);
	font-size: 12px;
	text-align: center;
}

h1{
	text-align: center;
	color: var(--app-text-color);
	margin: 0.5em 0;
}

gz-navigator{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--app-background-color);
}